*{
   box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: darkslateblue;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.headerName{
    display: flex;
    align-items: center;
}
.cartIcon, .cartIcon a{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none;
}
/* .inCart{

} */
a{
    text-decoration: none;
}
footer{
    height: 100px;
    background-color: darkslateblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    text-align: center;
}
img{
    width: 350px;
    height: 400px;
    /* position: relative; */
}

.card{
    box-sizing: border-box;
}

button{
    padding: 7px;
    border: darkslateblue solid 2px;
    background-color: darkslateblue;
    color: #fff;
    /* border-radius: 5px; */
    font-size: 16px;
    width: 350px;
}
button:hover{
    background-color: whitesmoke;
    color: darkslateblue;
    font-weight: bold;
}
